services:
  cooksnap:
    container_name: cooksnap-frontend
    build:
      context: ./Front-end
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
      - "8082:8082"
    volumes:
      - ${VOLUME_OVERRIDE}    
      - node_deps:/app/node_modules  
    environment:
      - REACT_NATIVE_PACKAGER_HOSTNAME=${REACT_NATIVE_PACKAGER_HOSTNAME}
      - EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0
    stdin_open: true
    tty: true
    command: ["npx", "expo", "start", "--host", "lan"]
    
volumes:
  node_deps:
