services:
  cooksnap:
    container_name: cooksnap-frontend
    image: node:20-slim
    working_dir: /app

    ports:
      - "8081:8081"
      - "8082:8082"

    volumes:
      - ${VOLUME_OVERRIDE}
      - cooksnap_node_modules:/app/node_modules

    environment:
      - REACT_NATIVE_PACKAGER_HOSTNAME=${REACT_NATIVE_PACKAGER_HOSTNAME}
      - EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0

    stdin_open: true
    tty: true

    command: >
      sh -c "
      npm install --legacy-peer-deps &&
      npx expo start --lan
      "

volumes:
  cooksnap_node_modules:
